body {
    background: #369FF6;
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#jelly-bubs-logo {
    width: 400px;
    margin: 100px 0 0 100px;
}

#download-app-store {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

#appocto-games-logo {
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 200px;
    cursor: pointer;
}

#appocto-games-logo:hover {
    opacity: 1;
}

#wrapper {
    font-family: Helvetica, Arial, sans-serif;
    background: white;
    padding: 20px;
    color: #464646;
    margin: 20px;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    text-shadow: 0 0 0;
    -webkit-font-smoothing: antialiased;
    
}

#wrapper h1 {
    margin-top: 0;
}